@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

:root {
  --arctic: #F1F6F4;
  --mint: #D9E8E2;
  --forsythia: #FFC801;
  --saffron: #FF9932;
  --nocturnal: #114C5A;
  --oceanic: #172B36;
}

body {
  background-color: #172B36;
  color: #F1F6F4;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JetBrains Mono', monospace;
}